In [1]:
import pandas as pd
from scipy import stats
import numpy as np

In [2]:
file_path = 'LA Clippers Data Challenge F&B Dataset.csv'
df = pd.read_csv(file_path)

In [3]:
# 1. Handle Missing Values
# Fill missing 'ProductID' with a placeholder (or drop them if appropriate)
df['ProductID'].fillna(-1, inplace=True)

In [4]:
# Fill missing 'ProductName', 'ProductQuantity', 'ProductFullPrice', 'Category', and 'SubCategory' with 'Unknown' or 0
df['ProductName'].fillna('Unknown', inplace=True)
df['ProductQuantity'].fillna(0, inplace=True)
df['ProductFullPrice'].fillna(0, inplace=True)
df['Category'].fillna('Unknown', inplace=True)
df['SubCategory'].fillna('Unknown', inplace=True)

In [5]:
# 2. Convert Data Types
# Convert 'ArrivalDatetime' and 'DepartureDatetime' to datetime
df['ArrivalDatetime'] = pd.to_datetime(df['ArrivalDatetime'], format='%d-%m-%Y %H:%M')
df['DepartureDatetime'] = pd.to_datetime(df['DepartureDatetime'], format='%d-%m-%Y %H:%M')

In [7]:
df.head(10)
df.tail(10)

,OrderID,OrderStatus,CustomerID,ArrivalDatetime,DepartureDatetime,GroupSize,ProductID,ProductName,ProductQuantity,ProductFullPrice,PaymentStatus,OrderTotalQuantity,EmptyOrder,Category,SubCategory
65015,35450,paid,31791,2023-09-04 03:04:00,2023-09-04 05:36:00,1,4.453240e+13,Pepsi- 20 oz bottle,1.0,6.50,success,1,No,Non-alcohol,Non-alcohol Beverage
65016,35451,paid,31800,2023-09-04 03:05:00,2023-09-04 05:36:00,1,-1.000000e+00,Unknown,0.0,0.00,success,0,Yes,Unknown,Unknown
65017,35452,paid,31890,2023-09-04 03:30:00,2023-09-04 05:36:00,2,4.453240e+13,Pepperoni Pizza,1.0,16.50,success,3,No,Food,Hot food
65018,35452,paid,31890,2023-09-04 03:30:00,2023-09-04 05:36:00,2,4.453240e+13,Miller Lite 24 oz,2.0,41.81,success,3,No,Alcohol,Beer
65019,35453,paid,31597,2023-09-04 02:18:00,2023-09-04 14:37:00,4,4.453240e+13,Ciroc Spritz Watermelon kiwi,1.0,19.25,success,4,No,Alcohol,Liquor
65020,35453,paid,31597,2023-09-04 02:18:00,2023-09-04 14:37:00,4,4.453240e+13,Lagunita IPA 24 oz can,1.0,20.91,success,4,No,Alcohol,Beer
65021,35453,paid,31597,2023-09-04 02:18:00,2023-09-04 14:37:00,4,4.453240e+13,Ciroc Spritz Pineapple Passion,1.0,19.25,success,4,No,Alcohol,Liquor
65022,35453,paid,31597,2023-09-04 02:18:00,2023-09-04 14:37:00,4,4.453240e+13,Ciroc spritz Citrus Sunset,1.0,19.25,success,4,No,Alcohol,Liquor
65023,35454,paid,31677,2023-09-04 02:32:00,2023-09-04 14:37:00,4,4.453240e+13,24oz - Modelo Especial,1.0,19.50,success,1,No,Alcohol,Beer
65024,35455,paid,31889,2023-09-04 03:29:00,2023-09-05 03:38:00,5,-1.000000e+00,Unknown,0.0,0.00,success,0,Yes,Unknown,Unknown

In [8]:
# Convert 'ProductID' and 'ProductQuantity' to integers
df['ProductID'] = df['ProductID'].astype('int64')
df['ProductQuantity'] = df['ProductQuantity'].astype('int64')

In [9]:
df.drop_duplicates(inplace=True)

In [13]:
# 4. Handle Outliers (using Z-Score method for 'ProductFullPrice')
df = df[(np.abs(stats.zscore(df[['ProductFullPrice']])) < 3).all(axis=1)]

In [14]:
# 5. Standardize Categorical Data
# Convert categorical columns to category dtype
categorical_columns = ['OrderStatus', 'PaymentStatus', 'EmptyOrder', 'Category', 'SubCategory']
for col in categorical_columns:
    df[col] = df[col].astype('category')

In [17]:
# 6. Save cleaned data to a new CSV file
cleaned_file_path = 'LA Clippers Data Challenge F&B Dataset cleaned.csv'
df.to_csv(cleaned_file_path, index=False)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64507 entries, 0 to 65024
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderID             64507 non-null  int64
 1   OrderStatus         64507 non-null  category
 2   CustomerID          64507 non-null  int64
 3   ArrivalDatetime     64507 non-null  datetime64[ns]
 4   DepartureDatetime   64507 non-null  datetime64[ns]
 5   GroupSize           64507 non-null  int64
 6   ProductID           64507 non-null  int64
 7   ProductName         64507 non-null  object
 8   ProductQuantity     64507 non-null  int64
 9   ProductFullPrice    64507 non-null  float64
 10  PaymentStatus       64507 non-null  category
 11  OrderTotalQuantity  64507 non-null  int64
 12  EmptyOrder          64507 non-null  category
 13  Category            64507 non-null  category
 14  SubCategory         64507 non-null  category
dtypes: category(5), datetime64[ns](2), float64(1), int64(6), object(1)
memory usage: 5.7+ MB